.locations-container {
    height: 100vh;
    padding: 60px 10px;
    box-sizing: border-box;
    background: var(--background-light);
}

.most-visited-locations {
    font-size: 20px;
    font-weight: 400;
    color: var(--main-color);
}

.locations-title {
    font-size: 48px;
    margin-bottom: 40px;
}

.location-images-carousel {
    overflow: hidden;
    width: 100%;
    height: 520px;
    position: relative;
    display: flex;
    gap: 20px;
}

.image-track {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(420px * 10);
    animation: scroll-left 30s linear infinite;
}

.location-image {
    height: 520px;
    width: 350px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 10px;
}

.location-card {
    position: relative;
    flex-shrink: 0;
    width: 400px;
    height: 520px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.location-card:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.location-description {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 15%;
    background: white;
    color: black;
    padding: 20px 20px;
    box-sizing: border-box;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    transform: translate(-60%, 200%);
    cursor: pointer;
    border-radius: 8px;
}

.location-description:hover {
    background-color: var(--main-color);
}

.location-description:hover .location-arrow {
    background-color: black;
}

.location-description:hover .arrow {
    transition: transform 0.3s ease-in-out;
    transform: rotate(45deg);
}

.location-arrow {
    height: 40px;
    width: 40px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.arrow {
    filter: brightness(0) invert(1);
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-400px * 5));
    }
}

@media (max-width: 720px) {

    .locations-container {
        padding: 60px 15px;
    }

    .locations-title {
        font-size: 34px;
    }

    .location-images-carousel {
        display: block;
        width: 100%;
        height: auto;
        overflow: visible;
    }

    .image-track {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        width: 100%;
        animation: none;
        min-height: 450px;
    }

    .location-card {
        width: 100%;
        height: 450px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .location-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .location-description {
        transform: translate(-50%, 150%);
    }
}