@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Figtree', sans-serif;
    color: var(--text-dark);
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #FF6B35;
    --white: #fff;
    --black: #000;
    --text-dark: #1a1a1a;
    --background-light: #fafafa;
}

.page {
    min-height: 100vh;
    margin: 10px;
    background-color: white;
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.8) 100%), url("../public/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    border-radius: 20px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .page {
        margin: 10px;
        background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.6) 100%), url("../public/background.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
        border-radius: 14px;

    }
}